@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
    font-family: 'Otomanopee One', sans-serif;
    color: #171717;
    background-color: #d2d2d2;
    width: 100%;
    text-align: center;
    height: 100%;
    align-items: center;
}