@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;

  color: $black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;

  @include flexbox {
    flex-direction: column;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Dancing Script", cursive;
}
