.kontakty {
  width: 100%;
  min-height: 90vh;
  @include flexbox {
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .container {
    @include flexbox {
      flex-direction: row;
      justify-content: center;
    }

    .contact {
      width: 30vw;
      margin: 2rem;
      @include flexbox {
        flex-direction: column;
      }

      img {
        max-width: 12rem;
        width: 80vw;
        border-radius: 50%;
        border: solid 3px $black;
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 1.3rem;
        @include flexbox {
          flex-direction: column;
        }
        a {
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }
  }
}
