.story {
    min-height: 95vh;
    @include flexbox {
        flex-direction: column;
    }
    h2 {
        font-size: 3rem;
    }
    .container {
        img {
            height: 70vh;
            width: 30vw;
            object-fit: cover;
            object-position: right;
        }
        p {
            width: 30vw;
        }
        @include flexbox {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}